@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --purple: #3e70db;
    --green: #50dad7;
    --darkf: #222325;
    --lightgrey: #eceaea;
}

h1 {
    font-size: 46px;
    margin: 0;
}

h2 {
    font-size: 26px;
}

* {
    box-sizing: border-box;
}

* {
    font-family: "Poppins", sans-serif;
}

html,
body {
    margin: 0;
    background-color: var(--darkf);
}

.entreEmContato {
    background-color: var(--purple);
    color: white;
    position: absolute;
    align-items: center;
    border: 0;
    border-radius: 12px;
    padding: 8px 35px;
    font-size: 18px;
}

header {
    color: white;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

header .container {
    width: 70%;
    padding: 0 100px;
    height: fit-content;
}

header .container img {
    display: none;
}

header .container h1,
h2 {
    color: var(--green);
}

header .container button {
    margin-top: 60px;
}

nav {
    display: flex;
    color: var(--green);
    padding: 0 100px;
    height: 80px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--darkf);
}

nav ul {
    width: 100%;
}

nav ul h2 {
    display: flex;
    justify-content: space-around;
}

nav ul h2 a {
    color: var(--green);
    font: normal;
    text-decoration: none;
}

nav ul h2 a svg {
    display: none;
}

.about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.about-me h1 {
    color: var(--green);
}

.about-me p {
    color: var(--lightgrey);
    padding-right: 50px;
}

.mobile-img {
    display: none;
}

@media (max-width: 1000px) {
    nav ul h2 {
        font-size: 20px;
    }

    header .container {
        width: 90%;
    }
}

@media (max-width: 820px) {
    header {
        height: calc(100vh - 60px);
    }

    header .container {
        width: 100%;
        padding: 0 60px;
    }

    header .container img {
        display: inline;
    }

    nav {
        padding: 0;
        height: 60px;
        top: unset;
        bottom: 0;
        position: fixed;
        width: 100%;
    }

    nav img {
        display: none;
    }

    nav ul {
        width: 100%;
        padding: 0 5px;
        justify-content: space-between;
    }

    nav ul h2 a svg {
        display: block;
        margin: 0 auto;
    }

    body {
        margin-bottom: 150px;
    }

    .container-imgx {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-img {
        display: inline;
    }

    .about-me .container-img img {
        display: none;
    }
}

@media (max-width: 650px) {
    nav ul h2 {
        font-size: 17px;
    }
}

@media (max-width: 545px) {
    nav ul h2 {
        font-size: 13px;
    }
}

@media (max-width: 390px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }
}